<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://futbol.si.com/.image/t_share/MTkxMTk2ODg5NjI0MjI1MDAz/al-rihla.webp);">
  <div class="container">
    <h1>Qatar Card Hub</h1>
    <p>Troque suas figurinhas da Copa do Mundo 2022</p>
    <span></span>
    <%= render "shared/searchform", id: "search" %>
  </div>
</div>
