<div class="banner-carousel">
  <div id="carouselExampleSlidesOnly" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
        <img src="https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block w-100" alt="Photo1">
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
        <img src="https://images.unsplash.com/photo-1507904139316-3c7422a97a49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1725&q=80" class="d-block w-100" alt="Photo2">
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
        <img src="https://images.unsplash.com/photo-1507904139316-3c7422a97a49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1725&q=80" class="d-block w-100" alt="Photo3">
      </div>
    </div>
  </div>
  <div class="text-banner">
    <h1>Qatar Card Hub</h1>
    <p>Troque suas figurinhas da Copa do Mundo 2022</p>
    <%= render "shared/searchform", id: "search" %>
  </div>
</div>
