<footer class="footer mt-5">
  <div class="d-flex">
    <%= image_tag "logo-footer.png", alt: "bola-logo", class: "bola" %>
  </div>

  <div>
    <p class="fw-bold">Qatar-Card-Hub</p>
    <p class="fw-bold">&copy 2022 Qatar-Card-hub</p>
  </div>

  <div>
    <%= image_tag "qatar-no-background.png", alt: "bola-logo", class: "logoqatar" %>
  </div>
</footer>
