<footer class="footer mt-5">
  <div class="d-flex">
    <%= image_tag "catar-bola.png", alt: "bola-logo", class: "bola" %>
  </div>

  <div>
    <p class="fw">Qatar-Card-Hub &copy 2022 Qatar-Card-hub</p>
  </div>

  <div>
    <%= image_tag "logo-catar.png", alt: "bola-logo", class: "logoqatar" %>
  </div>
</footer>
