<footer class="border-top footer navbar-fixed-bottom bg-secondary">
  <div class="d-flex">
    <%= image_tag "logo-footer.png", alt: "bola-logo", class: "bola" %>
    <h2 class="fw-bold fs-5 ms-3">Qatar-Card-Hub</h2>
  </div>

  <div class="d-grid gap-1">
    <div class="footer-links d-flex gap-3 mb-5">
      <a href="#" ><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>

    <div>
      <p class="fw-bold">&copy 2022 Qatar-Card-hub</p>
    </div>
  </div>

  <%= image_tag "qatar-no-background.png", alt: "bola-logo", width: 200 %>

</footer>
