<footer class="border-top footer navbar-fixed-bottom bg-secondary">
  <div class="d-flex">
    <%= image_tag "bola-logo.jpg", alt: "bola-logo", width: 60 %>
    <h2 class="fw-bold fs-5">Qatar-Card-Hub</h2>
  </div>

  <div class="d-grid gap-1">
    <div class="footer-links d-flex gap-3">
      <a href="#" class="><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
    <div>
      <p>&copy 2022 Qatar-Card-hub</p>
    </div>
  </div>

  <%= image_tag "wcq-logo.png", alt: "bola-logo", width: 60 %>

</footer>
