<footer class="footer mt-5">
  <div class="d-flex">
    <%= image_tag "logo-footer.png", alt: "bola-logo", class: "bola" %>
  </div>

    <div>
      <h2 class="fw-bold fs-5 ms-3">Qatar-Card-Hub</h2>
      <p class="fw-bold">&copy 2022 Qatar-Card-hub</p>
    </div>
  </div>

  <%= image_tag "qatar-no-background.png", alt: "bola-logo", class: "logoqatar" %>
</footer>
