<div class="footer">

    <%= image_tag "logo-footer.png", alt: "bola-logo", class: "bola" %>
  <%# <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> %>
  <%= image_tag "qatar-no-background.png", alt: "bola-logo", class: "logoqatar" %>
</div>
