<div class="cards">
  <a href="/offers?query=brasil&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png)">Brasil</div></a>

  <a href="/offers?query=argentina&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1200px-Flag_of_Argentina.svg.png)">Argentina</div></a>

  <a href="/offers?query=holanda&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/800px-Flag_of_the_Netherlands.svg.png)">Holanda</div></a>

  <a href="/offers?query=qatar&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/commons/3/32/Flag_of_Qatar_%281949%E2%80%931971%29.svg)">Qatar</div></a>

  <a href="/offers?query=portugal&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg)">Portugal</div></a>

  <a href="/offers?query=gana&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Flag_of_Ghana.svg/255px-Flag_of_Ghana.svg.png)">Gana</div></a>

  <a href="/offers?query=alemanha&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg)">Alemanha</div></a>

  <a href="/offers?query=espanha&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg)">Espanha</div></a>

  <a href="/offers?query=inglaterra&commit=Search"><div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(https://upload.wikimedia.org/wikipedia/commons/b/be/Flag_of_England.svg)">Inglaterra</div></a>
  </div>
</div>
