<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png)"><a href="/offers?query=brasil&commit=Search">Brasil</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1200px-Flag_of_Argentina.svg.png)"><a href="/offers?query=argentina&commit=Search">Argentina</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/800px-Flag_of_the_Netherlands.svg.png)"><a href="/offers?query=holanda&commit=Search">Holanda</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/3/32/Flag_of_Qatar_%281949%E2%80%931971%29.svg)"><a href="/offers?query=qatar&commit=Search">Qatar</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg)"><a href="/offers?query=portugal&commit=Search">Portugal</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/0/03/Flag_of_Italy.svg)"><a href="/offers?query=italia&commit=Search">Itália</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg)"><a href="/offers?query=alemanha&commit=Search">Alemanha</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg)"><a href="/offers?query=espanha&commit=Search">Espanha</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/b/be/Flag_of_England.svg)"><a href="/offers?query=inglaterra&commit=Search">Inglaterra</a></div>
  </div>
</div>
