<div class="banner mb-4 d-flex align-items-center justify-content-center">
</div>
  <div class="container">
    <h1>QATAR CARD HUB</h1>
    <p>Troque suas figurinhas da Copa do Mundo 2022</p>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">

      <label for="procurar" class="mb-0">Procure a figurinha desejada</label>
    <div class="d-flex gap-3">
      <input type="text" id="procurar" placeholder="Nome do país">
      <input type="submit" id="procurar" value="Submit">
    </div>
  </div>


  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png)">
      Brasil
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1200px-Flag_of_Argentina.svg.png)">
      Argentina
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/800px-Flag_of_the_Netherlands.svg.png)">
      Holanda
    </div>
</div>

</div>
<%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete } %>

