<div class="banner mb-4 d-flex align-items-center justify-content-center">
</div>
  <div class="container">
    <h1>QATAR CARD HUB</h1>
    <p>Troque suas figurinhas da Copa do Mundo 2022</p>
  </div>
</div>

<div class="container py-5">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Procure a figurinha desejada</h3>
      <label for="procurar">Procurar</label>
      <input type="submit" id="procurar" value="Submit">
  </div>
</div>
