<div class="banner-carousel">
  <div id="carouselExampleSlidesOnly" class="carousel slide mb-3" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" class="d-block w-100" alt="Photo1">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1507904139316-3c7422a97a49?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1725&q=80" class="d-block w-100" alt="Photo2">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1606925797300-0b35e9d1794e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1181&q=80" class="d-block w-100" alt="Photo3">
      </div>
    </div>
  </div>
</div>
<div class="banner-gradient">
</div>
<div class="text-banner">
  <h1>QATAR CARD HUB</h1>
  <p>Troque suas figurinhas da Copa do Mundo 2022</p>
  <%= render "shared/searchform", id: "search" %>
</div>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1200px-Flag_of_Brazil.svg.png)"><a href="/offers?query=brasil&commit=Search">Brasil</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/1200px-Flag_of_Argentina.svg.png)"><a href="/offers?query=argentina&commit=Search">Argentina</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/800px-Flag_of_the_Netherlands.svg.png)"><a href="/offers?query=holanda&commit=Search">Holanda</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/3/32/Flag_of_Qatar_%281949%E2%80%931971%29.svg)"><a href="/offers?query=qatar&commit=Search">Qatar</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Flag_of_Portugal.svg)"><a href="/offers?query=portugal&commit=Search">Portugal</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/0/03/Flag_of_Italy.svg)"><a href="/offers?query=italia&commit=Search">Itália</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg)"><a href="/offers?query=alemanha&commit=Search">Alemanha</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Spain.svg)"><a href="/offers?query=espanha&commit=Search">Espanha</a></div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/b/be/Flag_of_England.svg)"><a href="/offers?query=inglaterra&commit=Search">Inglaterra</a></div>
  </div>
</div>
