<div class="d-none mt-3" data-offer-target="form">
  <%= simple_form_for(@offer) do |f| %>
    <div class="form-inputs">
      <%= f.input :description %>
    </div>

      <div class="form-actions">
      <%= f.button :submit, "Editar pedido de troca", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
