<div>
  <h1>Edit an offer</h1>
</div>

<%= simple_form_for(@offer) do |f| %>
  <div class="form-inputs">
    <%= f.input :description %>
  </div>

    <div class="form-actions">
    <%= f.button :submit, class: "btn btn-flat" %>
  </div>
<% end %>
