<% if @offers.empty? %>
  <div>
    <p>A figurinha que você procura ainda não existe</p>
  </div>
<% else %>
  <div>
    <h1>Procurar figurinhas</h1>
    <p>O que você quer?</p>
  </div>
  <%= render "offercard", offers: @offers %>
<% end %>
