<div class="container">
  <h1>Create your offer</h1>
  <p>Show other users your card(s) & see if there's anyone interested</p>
</div>

<div class="container py-5">
  <div class="d-flex justify-content-between mb-3 align-items-center ">
    <h2 class="mb-0">Offers</h2>
    <%= link_to "Let the game begin!", new_offer_path, class: "btn btn-flat" %>
  </div>
  <div class="row">
    <%# <%= render "offer", offers: @offers %>
  </div>
</div>
