<div>
  <h1>Suas figurinhas</h1>
</div>

<% if @offers.empty? %>
  <div>
      <%= "Você ainda não publicou nenhuma figurinha" %>
  </div>
<% else %>
  <div style="height: 80vh">
    <%= render "offercard", offers: @offers %>
  </div>
<% end %>
