<div>
  <h1>Your offers</h1>
</div>

<% if @offers.empty? %>
  <div style="height: 80vh">
      <%= "You haven't made any offers yet" %>
  </div>
<% else %>
  <div style="height: 80vh">
    <%= render "offercard", offers: @offers %>
  </div>
<% end %>
