.carousel-inner {
  height: 400px;
}

.carousel {
  height: 400px;
}

.banner-carousel {
  position: relative;
}

.text-banner {
  position: absolute;
  top: 25%;
  left: 15%;
  color:white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
}
