.carousel-inner {
  height: 400px;
}

.carousel {
  height: 400px;
}

.banner-carousel {
  position: relative;
}

.text-banner {
  position: absolute;
  top: 35%;
  left: 34%;
  color:white;
}

.banner-gradient {
  position: absolute;
  height: 400px;
  color: red;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))
}

#search {
  max-width: 200px;
  }