.card-product-transaction {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product-transaction img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-transaction h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-transaction p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-transaction .card-product-infos-transaction {
  padding: 16px;
  width: 250px;
}

.container-transaction-index{
  display: flex;
  flex-direction: column;
}

.sub-container-transaction{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
