.footer {
  background: #54178f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
  padding: 0px 50px;
  color: rgba(210, 204, 204, 0.7);
  bottom: 0px;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.bola{
  width: 80px;
}

.logoqatar {
  width: 100px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .footer {
    font-size: 16px;
    padding: 0;
  }
  .bola {
    display: none;
  }
}
