.footer {
  background: rgba(84, 22, 144, 0.7);;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
  padding: 0px 50px;
  color: rgba(210, 204, 204, 0.7);
  bottom: 0px;
  width: 100%;
}

.bola{
  width: 80px;
}

.logoqatar {
  width: 100px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .footer {
    font-size: 16px;
    padding: 0;
  }
  .bola {
    display: none;
  }
}
