.navbar-lewagon {
  justify-content: space-between;
  background: #541690;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link{
  color: $white;
  &:hover {
    color: $yellow;

  }
}
